#title {
  margin-top: 20px;
  color: black;
  text-align: center;
}

#formContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#how {
  margin-top: 45px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

#description {
  font-size: 18px;
  text-align: center;
  width: 680px;
  margin-bottom: 50px;
}
#desHolder {
  justify-content: center;
  display: flex;
}

#example {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  outline-style: solid;
}

#sample_text {
  text-align: center;
}

#credits {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  color: #595959;
}
