#title {
    margin-top: 20px;
    color: black;
    text-align: center;
}

#form {
    margin-top: 200px;
    margin-left: 500px;
}

#how {
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    text-align: center;
}



#description{
    margin-left: 400px;
    font-size: 18px;
    text-align: center;
    width: 600px;
}